In [37]:
# Importing the Dataset
import numpy as np
import pandas as pd

# df = pd.read_csv('/content/Creditcard_data.csv')
df = pd.read_csv('https://raw.githubusercontent.com/AnjulaMehto/Sampling_Assignment/main/Creditcard_data.csv')
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,1
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [38]:
print("Size of Dataset")
print(df.shape)

Size of Dataset
(772, 31)

In [39]:
X = df.drop('Class', axis=1)
print('Features Dataset')
X.head()

Features Dataset

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99

In [40]:
y = df['Class']
print('Output Features')
y.head()

Output Features

0    0
1    1
2    0
3    0
4    0
Name: Class, dtype: int64

In [41]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [42]:
Standard_deviation = np.std(df) 
Standard_deviation

Time      171.722868
V1          1.293886
V2          1.172641
V3          1.031209
V4          1.257943
V5          1.097432
V6          1.224888
V7          0.851523
V8          0.829606
V9          0.877614
V10         0.968735
V11         1.003178
V12         0.653673
V13         0.897677
V14         0.819011
V15         0.910342
V16         0.817139
V17         0.751242
V18         0.789863
V19         0.814179
V20         0.576518
V21         0.608940
V22         0.606834
V23         0.358491
V24         0.621105
V25         0.429389
V26         0.483913
V27         0.300739
V28         0.278151
Amount    197.710094
Class       0.107341
dtype: float64

In [43]:
# n = 772
# 90% confidence interval, z-score = 1.645
# 95% confidence interval, z-score = 1.96
# 99% confidence interval, z-score = 2.575

# Margin of error 
#         M = Z-score * Standard Error(Standard Deviation)
# M.O.E = Z-score * n/sqrt(Ïƒ)
# Ïƒ - Standard Deviation

# Taking 95% Confidence Interval values
# m = 
z = 1.96  
m = 0.06

In [44]:
n1 = int(np.ceil((pow(z,2) * 0.5 * 0.5) / pow(m,2)))
n2 = int(np.ceil((pow(z,2) * 0.05 * (1-0.05)) / pow(m,2)))
n3 = int(np.ceil((pow(z,2) * 0.05 * (1-0.05)) / pow(m,2)))
n4 = int(np.ceil((pow(z,2) * 0.05 * (1-0.05)) / pow(m,2)))
n5 = int(np.ceil((pow(z,2) * 0.05 * (1-0.05)) / pow(m,2)))

In [45]:
from imblearn.under_sampling import RandomUnderSampler, TomekLinks, NearMiss
from imblearn.over_sampling import RandomOverSampler, SMOTE
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis


sampler1 = RandomUnderSampler(sampling_strategy='majority', random_state=42)
sampler2 = RandomOverSampler(sampling_strategy='minority', random_state=42)
sampler3 = SMOTE(sampling_strategy='minority', random_state=42)
sampler4 = TomekLinks(sampling_strategy='majority')
sampler5 = NearMiss(version=3, n_neighbors=3)

model1 = LinearDiscriminantAnalysis()
model2 = LogisticRegression(random_state=42,max_iter=500)
model3 = RandomForestClassifier(random_state=42)
model4 = SVC(random_state=42)
model5 = ExtraTreesClassifier(random_state=42)

In [46]:
samplers = {
    'Sampling1': sampler1,
    'Sampling2': sampler2,
    'Sampling3': sampler3,
    'Sampling4': sampler4,
    'Sampling5': sampler5,
}

models = {
    'M1': model1,
    'M2': model2,
    'M3': model3,
    'M4': model4,
    'M5': model5,
}

In [47]:
from sklearn.metrics import accuracy_score

# Evaluate each model on each sampling technique
results = {}
for sampler_name, sampler in samplers.items():
    if sampler_name == 'Sampling1':
        n = n1
    elif sampler_name == 'Sampling2':
        n = n2
    elif sampler_name == 'Sampling3':
        n = n3
    elif sampler_name == 'Sampling4':
        n = n4
    else:
        n = n5

    # Undersample or oversample the training data
    X_resampled, y_resampled = sampler.fit_resample(X_train, y_train)
    
    # Limit the resampled data to the sample size
    if len(X_resampled) > n:
        X_resampled = X_resampled[:n]
        y_resampled = y_resampled[:n]
    
    for model_name, model in models.items():
        # Train the model on the resampled data
        model.fit(X_resampled, y_resampled)
        
        # Make predictions on the test data
        y_pred = model.predict(X_test)
        
        # Calculate the accuracy score
        accuracy = accuracy_score(y_test, y_pred)
        
        # Add the accuracy score to the results dictionary
        if model_name in results:
            results[model_name][sampler_name] = accuracy
        else:
            results[model_name] = {sampler_name: accuracy}

In [48]:
# Output/Result

print('Results:')
print('        Sampling1   Sampling2   Sampling3   Sampling4   Sampling5')
for model_name, model_results in results.items():
    print(model_name, end='')
    for sampler_name in samplers.keys():
        if sampler_name in model_results:
            print(f'    {model_results[sampler_name]:.4f}   ', end='')
        else:
            print('              ', end='')
    print()

Results:
        Sampling1   Sampling2   Sampling3   Sampling4   Sampling5
M1    0.6194       0.8774       0.8774       0.8774       0.6000
M2    0.5742       0.9935       0.9935       0.9935       0.3742
M3    0.7097       0.9935       0.9935       0.9935       0.7677
M4    0.6258       0.9935       0.9935       0.9935       0.5161
M5    0.8065       0.9935       0.9935       0.9935       0.6516